# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
tests_bench/log/test/*
.vscode/ipch
*.log
logs/*
**/simple_server/simple_server
**/simple_client/simple_client

__debug_bin
**/micro_server/gate/gate
**/micro_server/logic/logic
**/micro_server/gamedb/gamedb
test
